*{
    padding:0px;
    margin:0px;
}

@font-face {
  font-family:enchantedland;
  src: url("font/EnchantedLand.otf");
}
*{
    font-family:enchantedland;
}
#background 
{background-image: url("/website/plaatjes/yeet.png");
  background-size:cover;
  background-repeat:no-repeat;
  background-color:white;
  position: relative;
   }
  

li a{
    display:block;
    color:rgb(255, 255, 255);
    text-align: center;
    padding:5px 15px rgb(202, 19, 19);
    text-decoration: none;
    font-size:25px;
    margin:5px;    
}
li
 {float: left;}
ul{
    list-style-type: none;
    margin:5px;
    padding:0px;
    overflow:hidden;
    background-color:rgb(12, 12, 12);
    position:relative;
    border:solid rgb(102, 17, 17);
    
}
#armiesli{
    border-right: 1px solid rgb(255,255,255);
    
}
#paintingli{
    border-right: 1px solid whitesmoke;
    
}
#beginningli:last-child{
    border-right: none;
    
    
}
.front1{
    background-color:rgba(0,0,0,0.75);
    color:white;
    display:block;
    position:relative;
    width:40%;
    height:70%;
    overflow:auto;
    margin:50px;
    border:solid rgb(102, 17, 17);
    float:left;
}
.front2{
    background-color:rgba(0,0,0,0.75);
    color:white;
    display:block;
    position:relative;
    width:40%;
    height:70%;
    overflow:auto;
    margin:50px;
    border:solid rgb(102, 17, 17);
    float:center;
}

