#background 
{background-image: url("/website/plaatjes/frontpic.jpg");
background-size: cover;}
li a{
    display:block;
    width:60px;
}
ul{
    list-style-type:none;
    margin: 0;
    padding: 0;
}