*{
    padding:0px;
    margin:0px;
}

@font-face {
  font-family:enchantedland;
  src: url("font/EnchantedLand.otf");
}
*{
    font-family:enchantedland;
}
#background {
  background-image: url("/website/plaatjes/yeet.png");
  background-size:cover;
  background-repeat:no-repeat;
  background-color:white;
  position: relative;
  background-attachment:fixed; 
  height:100%;
  width:100%;
   }
  

.nav1{
    display:inline-block;
    color:rgb(255, 255, 255);
    text-align: center;
    padding:5px 15px rgb(202, 19, 19);
    text-decoration: none;
    font-size:25px;
    margin:5px;    
}
.nav2{
   display:block;
   text-decoration:none;  
   color: rgb(255,255,255);
   text-align: center;
   font-size:30px;
}
.linav
 {float:left}
ul{
    list-style-type:none;
    margin:5px;
    padding:0px;
    overflow:hidden;
    background-color:rgb(12, 12, 12);
    position:relative;
    border:solid rgb(102, 17, 17);
    z-index: 3;
   
}
#homeli{
    border-right: 1px solid rgb(255,255,255);
    float:left;
}
#armiesli{
    border-right: 1px solid rgb(255,255,255);
    float:left;
}
#paintingli{
    border-right: 1px solid whitesmoke;
    float:left;
}
#beginningli:last-child{
    border-right: none;
    float:left;
}
.front1{
    background-color:rgba(0,0,0,0.90);
    color:white;
    display:block;
    position:relative;
    width:40%;
    height:70%;
    overflow:auto;
    margin:50px;
    border:solid rgb(102, 17, 17);
    float:center;
    font-size: 20px;
}
.front2{
    background-color:rgba(0,0,0,0.90);
    color:white;
    display:block;
    position:relative;
    width:40%;
    height:70%;
    overflow:auto;
    margin:50px;
    border:solid rgb(102, 17, 17);
    float:center;
    font-size: 20px;
}
#armiesnav{
    list-style-type:none; 
    position:center;
    overflow:auto;
    margin:50px; 
}
#moet{
    background-color:rgba(0,0,0,0.95);
    color:white;
    display:block;
    position:center;
    overflow:auto;
    margin:50px;
    border:solid rgb(102, 17, 17);
    float:center;
    font-size: 35px;
}
li a:hover {
  background-color:rgb(12, 12, 12);
  color: white;
}
#active {
  background-color:rgb(12, 12, 12);
  color: red;
  z-index:1;
}
.nav2li1{
    border-bottom: 1px solid rgb(255,255,255)
}
li:last-child {
  border-bottom: none;
}



